<%= form_for(@shop) do |f| %>
  <%= render 'shared/error_messages', { resource: @shop } %>
  <fieldset>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :token %><br>
        <%= f.text_field :token, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :notification_url %><br>
        <%= f.text_field :notification_url, class: 'form-control' %>
      </div>

      <hr />

      <h4>TNT</h4>

      <div class="form-check">
        <label class="form-check-label">
          <%= f.check_box :tnt_enabled, class: 'form-check-input' %>
          Habilitado
        </label>
      </div>

      <div class="form-group">
        <%= f.label :tnt_email %><br>
        <%= f.text_field :tnt_email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :tnt_cnpj %><br>
        <%= f.text_field :tnt_cnpj, class: 'form-control' %>
      </div>

      <hr />

      <h4>Intelipost</h4>

      <div class="form-check">
        <label class="form-check-label">
          <%= f.check_box :intelipost_enabled, class: 'form-check-input' %>
          Habilitado
        </label>
      </div>

      <div class="form-group">
        <%= f.label :intelipost_id %><br>
        <%= f.text_field :intelipost_id, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :intelipost_api_key %><br>
        <%= f.text_field :intelipost_api_key, class: 'form-control' %>
      </div>




      <div class="actions">
        <%= f.submit 'Salvar', class: 'btn btn-primary' %>
        <%= link_to 'Cancelar', :back, class: 'btn btn-default'  %>
      </div>
  </fieldset>
<% end %>
