<header class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Lojas', shops_path %></li>
      <li class="breadcrumb-item"><%= @shop.name %></li>
    </ol>
  </nav>
</header>

<dl class="row">
  <dt class="col-sm-3">Nome</dt>
  <dd class="col-sm-9"><%= @shop.name %></dd>

  <dt class="col-sm-3">Token</dt>
  <dd class="col-sm-9"><%= @shop.token %></dd>

  <dt class="col-sm-3">Notification URL</dt>
  <dd class="col-sm-9"><%= @shop.notification_url %></dd>

  <dt class="col-sm-3">TNT habilitado</dt>
  <dd class="col-sm-9"><%= @shop.tnt_enabled %></dd>

  <dt class="col-sm-3">TNT e-mail</dt>
  <dd class="col-sm-9"><%= @shop.tnt_email %></dd>

  <dt class="col-sm-3">TNT CNPJ</dt>
  <dd class="col-sm-9"><%= @shop.tnt_cnpj  %></dd>
</dl>
