<header class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Lojas', shops_path %></li>
      <li class="breadcrumb-item"><%= link_to @shop.name, shop_path(@shop) %></li>
      <li class="breadcrumb-item"><%= link_to 'Rastreios', shop_trackings_path(@shop) %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @tracking.code %></li>
    </ol>
  </nav>
</header>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render 'form', tracking: @tracking %>
  </div>
</div>
