<div class="row page-header mb-0">
  <div class="col-lg-6">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Lojas', shops_path %></li>
        <li class="breadcrumb-item"><%= link_to @shop.name, shop_path(@shop) %></li>
        <li class="breadcrumb-item active" aria-current="page">Rastreios</li>
      </ol>
    </nav>
  </div>
  <div class="col-lg-6">
    <%= link_to('Adicionar', new_shop_tracking_path(params[:shop_id]),
      class: 'btn btn-primary float-right') %>
  </div>
</div>

<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Status da entrega
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="?">
        <span class="text-center" style="min-width: 20px; display: inline-block;">
        </span>
        Todos
      </a>
      <% Tracking::STATUSES.each do |status| %>
        <a class="dropdown-item" href="?status=<%= status %>">
          <span class="text-center" style="min-width: 20px; display: inline-block;">
            <i class='fas <%=t status, scope: :delivery_status_icon %>'></i>
          </span>
          <%=t status, scope: :delivery_status %>
        </a>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-shops table-striped table-hover small">
      <thead>
        <tr>
          <th><%=t 'code', scope: [:activerecord, :attributes, :tracking] %></th>
          <th><%=t 'package', scope: [:activerecord, :attributes, :tracking] %></th>
          <th><%=t 'carrier', scope: [:activerecord, :attributes, :tracking] %></th>
          <th><%=t 'delivery_status', scope: [:activerecord, :attributes, :tracking] %></th>
          <th><%=t 'tracker_url', scope: [:activerecord, :attributes, :tracking] %></th>
          <th>Job</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% if @trackings.any? %>
          <% @trackings.each do |tracking| %>
          <tr>
            <td><%= tracking.code %></td>
            <td><%= tracking.package %></td>
            <td><%= tracking.carrier %></td>
            <td class="text-center">
              <i title='<%=t tracking.delivery_status, scope: :delivery_status %>' class='fas <%=t tracking.delivery_status, scope: :delivery_status_icon %> fa-2x'></i>
            </td>
            <td><%= link_to_if(tracking.tracker_url.present?, tracking.tracker_url, tracking.tracker_url, target: "_blank") %></td>
            <td>
              <% if @scheduled_tracking_ids.include?(tracking.id) %>
                Agendado
              <% else %>
                <a href="<%= shop_tracking_refresh_path(params[:shop_id], tracking) %>" class="btn btn-secondary btn-sm">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Agendar
                </a>
              <% end %>
            </td>
            <td class="text-xs-right">
              <div class="btn-group">
                <a href="<%= shop_tracking_path(params[:shop_id], tracking) %>" class="btn btn-secondary btn-sm">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Ver
                </a>

                <a href="<%= edit_shop_tracking_path(params[:shop_id], tracking) %>" class="btn btn-secondary btn-sm">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                </a>

                <a href="<%= shop_tracking_path(params[:shop_id], tracking) %>" class="btn btn-secondary btn-sm" data-method="delete" data-confirm="Tem certeza?">
                  <i class="fa fa-trash" aria-hidden="true"></i> Excluir
                </a>
              </div>
            </td>
          </tr>
          <% end %>
        <% else %>
        <tr>
          <td colspan="7" class="text-xs-center">
            <small>Nenhum tracking cadastrado</small>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
