<header class="page-header">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Lojas', shops_path %></li>
      <li class="breadcrumb-item"><%= link_to @shop.name, shop_path(@shop) %></li>
      <li class="breadcrumb-item"><%= link_to 'Rastreios', shop_trackings_path(@shop) %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @tracking.code %></li>
    </ol>
  </nav>
</header>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <dl class="row">
      <% @tracking.attributes.each do |k, v| %>
        <dt class="col-sm-4"><%=t k, scope: [:activerecord, :attributes, :tracking] %></dt>
        <dd class="col-sm-8"><%= v %></dd>
      <% end %>
    </dl>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table table-shops table-striped table-hover small">
      <thead>
        <tr>
          <th>Data</th>
          <th>Status</th>
          <th>Menssagem</th>
        </tr>
      </thead>
      <tbody>
        <% @tracking.events.each do |event| %>
        <tr>
          <td><%= event.checkpoint_at %></td>
          <td class="text-center"><i title='<%=t event.delivery_status, scope: :delivery_status %>' class='fas <%=t event.delivery_status, scope: :delivery_status_icon %> fa-2x'></i></td>
          <td><%= event.message %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
