<header class="page-header">
  <p>
    <%= link_to('â† voltar', shop_trackings_path(params[:shop_id])) %>
  </p>
  <h3>Tracking <%= @tracking.code %></h3>
</header>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <dl class="row">
      <dt class="col-sm-3">Transportadora</dt>
      <dd class="col-sm-9"><%= @tracking.carrier %></dd>

      <dt class="col-sm-3">Status</dt>
      <dd class="col-sm-9"><%= @tracking.delivery_status %></dd>

      <dt class="col-sm-3">Atualizado em</dt>
      <dd class="col-sm-9"><%= @tracking.last_checkpoint_at %></dd>

      <dt class="col-sm-3">URL</dt>
      <dd class="col-sm-9"><%= @tracking.tracker_url %></dd>
    </dl>
  </div>
</div>
